* {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    background-color: rgb(32, 32, 32);
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;


}

.logo-photo {
    width: 120px;


}

.menus {
    display: flex;
}

.item {
    margin-right: 10px;
    margin-right: 7px;
    font-size: 18px;
    cursor: pointer;
}

.item:hover {
    color: blue;

}


.banner-container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("./images/background.png"),
        linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-img {
    width: 300px;
}

.title {

    font-size: 55px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    margin-top: 15px;

}

.btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
}

.about-us-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 20px;
    padding: 25px;


}

.about-title {
    text-align: center;
    padding-top: 20px;
}

.box {
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 105px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 10px;
}

.icon {
    width: 70px;

}

.box-btn {
    background-color: #1c1b1b;
    margin-top: 10px;
}

.box-title {
    padding: 10px;
}

.box-text {
    padding: 10px;
}

.box-container {
    padding: 20px;
    display: flex;
    justify-content: space-around;

}

.service-container {
    color: white;
    padding: 40px;
    background-image: url(images/background.png),
        linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
}

.footer-container {

    color: white;
    display: flex;
    justify-content: space-around;
    width: 75%;
    border-bottom: 1px solid gray;
    align-items: center;
    margin: 0 auto;

    width: 75%;
    height: 60vh;







}

.footer-logo {
    width: 25%;
    padding: 5px;
}

.footer-logo img {

    width: 170px;
}

.f-title {

    margin-bottom: 30px;

}

footer {
    width: 100%;
    height: 70vh;
    background-image: url(""), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: white;
    line-height: 30px;
}

.copyright {
    color: white;
    text-align: center;
    padding: 15px;
}