* {
    margin: 0px;
    padding: 0px;
}

.test {
    color: blue;
    cursor: not-allowed;

}

.container {
    display: flex;
    height: 500px;
    border: 1px solid gray;
    justify-content: space-around;
    align-items: center;
}

.box {
    padding: 20px;
    background-color: red;
    width: 150px;
    height: 110px;

}

.box2 {
    background-color: green;
}

.box3 {
    background-color: blue;
}